.detail {
    align-content: center;
    text-align: center;
    margin: 6%;
   
  }
  h1 {
    padding-bottom: 3%;
    color: rgb(29, 25, 27);
  }
  img {
   
    padding-bottom: 3%;
   
  }
  .price {
    padding-bottom: 3%;
   color: rgb(170, 26, 33);
  }
  